#flat .line-break1 {
 background: linear-gradient(60deg, #00a7b2, #0056d6, #942192);
 width: 100%;
 margin: 0 auto;
}
#flat .line-break2 {
 background: linear-gradient(60deg, #942192, #00a7b2, #0056d6); /в каждый блок нужно вставить названия либо любых других цветов, либо те же названия цветов, которые мы вносили в gradient 1-3. в моем случае я просто взял мои 3 цвета, которые образуют градиент и для каждого блока написал их в разном порядке, чтобы градиент отличался
 width: 100%;
 margin: 0 auto;
}
#flat .line-break3 {
 background: linear-gradient(60deg, #0056d6, #942192, #00a7b2);
 width: 100%;
 margin: 0 auto;
}

[id705766|@media] screen and (max-width: 959px) and (min-width: 768px) {
 #flat .block {
  padding: 40px;
  width: 620px;
 }
}
[id705766|@media] screen and (max-width: 767px) {
 #flat .block {
  padding: 30px;
  width: 420px;
 }
 #flat h2 {
  font-size: 30px;
 }
 #flat .block {
  padding: 30px;
 }
 #flat .parallax-one, #flat .parallax-two, #flat .parallax-three {
  padding-top: 100px;
  padding-bottom: 100px;
 }
}
[id705766|@media] screen and (max-width: 479px) {
 #flat .block {
  padding: 30px 15px;
  width: 290px;
 }
}